
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}




.body{ 
    margin: 0 auto;
}



/* navigation */
.nav{
  width: 1350px;
  
}

ul{ 
    display: flex;
    flex-direction:row ; 
    list-style: none;
    gap: 3.5rem;
    font-size: 16px;
    color: #ffffff;
    align-items: center;
    
}
ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: Arial;
  transition: 0.4s ease-in-out;
}
.ul li a:hover{
  color: #3f84d8;
}





.serch{ 
   
    width: 330px;
    float: left;
    margin-left: 100px;
    
}

.ser{
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  border-right:none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius:5px ;
  border-top-left-radius: 5px;
}
.but{
  width: 100px;
  height: 40px;
  background-color: #3f84d8;
  border: 2px #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.but:focus{
  outline: none;
}
.ser{
  outline: none;
}

/*first page background*/

.main0{
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(./resours/back.jpg);
  background-position: center;
  background-size: cover;
  height: 109vh;
}
  
.content{
  width: 1200px;
  height: auto;
  color: #ccac1d;
  position: relative;
 padding-top: 100px;
 margin-left: 70px;
 font-size: 200%;
 letter-spacing: 2px;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 line-height: 40px;
 font-size: 35px;
}

.par{
  color:#1ee0d7;
  margin-left:100px;
  font-size: 150%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-bottom: 20px;
  line-height: 40px;
  letter-spacing: 1.2px;
  
 
}

.cn{
  width: 160px;
  height: 40px;
  background-color: rgb(65, 219, 45);
  border: none;
  margin-bottom: 50px;
  margin-left: 110px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
  
}

.cn a{
  text-decoration: none;
  color: #000;
  transition: 3s ease;
}
.cn:hover{
  background-color:#fff;
}

.content span{
  color: lime;
  font-size: 60px;
}
.form{
  width: 250px;
  height: 380px;
  background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  position: absolute;
  top: -20px;
  left:870px;
  border-radius: 10px;
  padding: 25px;
  margin-top: 200px;
}

.form h2{
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(24, 81, 204);
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input{
  width: 200px;
  height:35px;
  background: transparent;
  border-bottom: 1px solid rgb(29, 136, 83);
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.form input:focus{
   outline: none;
}

::placeholder{
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.butt{
  width: 200px;
  height: 40px;
  background: #d4d4da;
  border:none;
  margin-top:30px;
  font-size:18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: .4s ease;
}

.butt:hover{
  background: #1460ac;
  color: #c6c6da;
}
.butt a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.form .link {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
  color:#d4d4da;
}

.link a{
  text-decoration: none;
  color: #1460ac;
}
.liw{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  color: #abb2b9;
}

  /*Introduction page*/
 

  .introduction{
    padding-top: 20px;
    text-align:center;
    margin-bottom:2rem;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
   
  }
  .anatop1{
    font-size:25px;
    text-align: justify;
    
    

    
  }
  
  .antomyx{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
   
  }

  #anatoim{
    margin: 10px 10px 10px 15px;
  }
  .anatotext{
    margin-top:20px;
    font-size:25px;
    color: black;
    text-align: justify;

  }
  

  #left{
    width:300px;
    height: 400px;
    float:right; 
    margin-left: 50px;
     
  }
  .stucttext{
    font-size:25px;
    text-align: justify;
  }
  .gland{
    display: flex;
    flex-direction: row;
  }
  #glands{
    width:400px;
    height: 300px;
    row-gap: 5rem;
    margin-right: 150px;
    
  }

  
  .function{
    padding: 10px 20px;
  }
  #small{
    width:300px;
    height:250px;
    margin: 40px;
  }
  .small-intestine{
    display: flex;
    flex-direction: row;
  }
  #large{
    width:300px;
    height:250px;
    float: right;
    margin-left: 50px;
  }
  #nut{
    border-radius: 25%;
    width:100px;
    height:150px;
    float: left;
    margin-right: 5rem;
    
  }
  a {
    color: rgb(21, 2, 131);
    
  }
  #stom{
    border-radius: 25%;
    width:100px;
    height:150px;
    float:right;
    margin-right: 5rem;
    margin-right:2px;

  }
  .ref{
    font-size:xx-small;
  }
.reference{
  font-size:x-small;
}

  /* Gastrointestinal Diseases*/
  .body{
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
     background-color:#fff;
     margin: 0px;
  }

  .factors{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
  
  }

  #dione{
    width: 400px;
    height: 300px;
    margin:30px;
  }

   .constipation{
    display: flex;
    flex-direction: row;
    
   }

   #consti{
   
    width:400px;
    height:300px;
    margin: 30px;
   }

  .title{
    text-align: center;
    padding-top: 90px;
   justify-content: center;
    
  }
  .colo{
    font-size: smaller;
  }

  .bowel{
    display: flex;
    flex-direction: row;
  }
  #boweld{
    margin-top: 0pxs;
    margin-left: 50px;
    width:400px;
    height:250px;
   
  }
  .diarrhea{
    display: flex;
    flex-direction:column;
  }
  .vomiting{
    display: flex;
    flex-direction: row;
    gap: 400px;
   
  }
  .cancer{
    display: flex;
    flex-direction: row;
  }
   #can{
    width: 350px;
    height: 350px;
   }
 
 tr:nth-child(even) {
  background-color:wheat;
}
     
 table,thead,th,td{
  margin: 2px;
 border: 1px solid black;
 width: 100%;
 }

 .head{
  font-size: medium;
 }
 .mediA{
  width: 150px;
  height: 150px;
 }
 .main1{
    margin-top: 0px;
    padding:5rem;
    background-color:Grey;
   
 }
.introduction{
  margin-top:20px;
}
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 20px;
}

div.scroll-container img {
  padding: 10px;
}
 /*pages  fotter*/

 .pages-footer{
  height:400px;
  display: flex;
  flex-direction: row;
  margin:2rem 5px ;
  justify-content: space-between;
  background-color: #abb2b9 ;
 }

 .footer-data-left-pages{
  width: 30%;
  
  
 }

 .footerp3{
  font-size: 0.8rem;
    margin: 1rem;
   
 }
 .footerp4{
  font-size: 0.8rem;
  margin-left: 3rem;
 }

 #logo-pages{
  width: 200px;
  height:200px;
 
 }

 .footer-data-right-pages{
  width: 40;
  display: flex;
  flex-direction: row;
  gap: 5rem;
 }

 .footer-data-pages{
  font-size:large;
  margin: 4rem;
  margin-top: 6rem;
 }
 /*prevention page*/

 .pre{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    gap:300px;
 }

