
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}




.body{ 
    margin: 0 auto;
}



/* navigation */
.nav{
  width: 1350px;
}

ul{ 
    display: flex;
    flex-direction:row ; 
    list-style: none;
    gap: 3rem;
    font-size: 16px;
    color: #ffffff;
    align-items: center;
    
}
ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: Arial;
  transition: 0.4s ease-in-out;
}
.ul li a:hover{
  color: #3f84d8;
}





.button{ 
    border: none;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #65e4a3;
   

}
a{ 
    text-decoration: none;
}

/* About us */
.about{
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(resours/im01.png);
   color: #fff;
   height:600px;
   padding:4rem 8rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap:1.5rem;
   width: 100%;
   background-position: center;
   background-size:cover ;
   height: 100vh;
   margin-top:auto;
   padding-top: 120px;
   font-family: Arial;
}
h1{
    font-size: 3rem;
}
p{ 
    opacity: 0.5;
}
/*hero images*/
.grid-items{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap:2rem;
    position: absolute;
    top:650px;
    width: 50px;
    justify-content: center;
    margin-top: 5px;
}
.grid-items >:nth-child(2){ 
    grid-row: span 2;
    
}
.hero-images{
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
/*our mision */
.Our-mission{
    margin-top: 700px;
    padding:0 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     align-items: center;
    

}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
button{
    padding: 15px 50px;
    border-radius: 100px;
    border: none;
    background-color: aqua;
    font-size: 20px;
}
.button-new{
    background-color: #fff;
    border: 2px  solid black;
}

/*What-we-offer*/
.What-we-offer{
     margin-top: 3rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     align-items: center;
     padding: 4rem 5rem;
     gap: 2rem;
     background-color: #0a2648;
     color: #fff;
     
}

/*data*/
.data{
    display: flex;
    flex-direction: row;
    gap: 15rem;
    margin-top: 3rem;
}


/*green*/
.green{
    color: #65e4a3;
}

/*get-invo*/
.Get-invo{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
     text-align: center;
     align-items: center;
     padding: 1rem 5rem;
     gap: 2rem;
}
/*Author*/
.author{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem 5rem;
    gap: 2rem;
    background-color: #0a2648;
     color: #fff;

}
/*img */
#imgA{
    padding: 0 5rem;
    gap: 2rem;
    height:200px;
    width:300px;

}
/*footer*/
footer{
   display: flex;
   flex-direction: row;
   margin:2rem 4rem ;
   justify-content: space-between;
   
}
#logo{
  width: 200px;
  height:200px;
}

.footer-data-left{
    width: 30%;
}

.footer-data-right{
    width: 40;
    display: flex;
    flex-direction: row;
    gap: 5rem;

}
.footerp1{
    font-size: 0.8rem;
    margin-top: 1rem;
}

.footerp2{
    font-size: 0.8rem;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
      text-align: justify;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: rgb(255, 255, 255);
  }

  /*Introduction page*/
 

  .introduction{
    padding-top: 20px;
    text-align:center;
    margin-bottom:2rem;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
   
  }
  .anatop1{
    font-size:25px;
    text-align: justify;
    
    

    
  }
  
  .antomyx{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
   
  }

  #anatoim{
    margin: 10px 10px 10px 15px;
  }
  .anatotext{
    margin-top:20px;
    font-size:25px;
    color: black;
    text-align: justify;

  }
  

  #left{
    width:300px;
    height: 400px;
    float:right; 
    margin-left: 50px;
     
  }
  .stucttext{
    font-size:25px;
    text-align: justify;
  }
  .gland{
    display: flex;
    flex-direction: row;
  }
  #glands{
    width:400px;
    height: 300px;
    row-gap: 5rem;
    
  }
  .function{
    padding: 10px 20px;
  }
  #small{
    width:300px;
    height:250px;
    margin: 40px;
  }
  .small-intestine{
    display: flex;
    flex-direction: row;
  }
  #large{
    width:300px;
    height:250px;
    float: right;
    margin-left: 50px;
  }
  #nut{
    border-radius: 25%;
    width:100px;
    height:150px;
    float: left;
    margin-right: 5rem;
    
  }
  a {
    color: rgb(59, 204, 66);
    
  }
  #stom{
    border-radius: 25%;
    width:100px;
    height:150px;
    float:right;
    margin-right: 5rem;
    margin-right:2px;

  }
  .ref{
    font-size:xx-small;
  }

  /* Gastrointestinal Diseases*/
  .body{
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
     background-color:#fff;
     margin: 0px;
  }

  .title{
    text-align: center;
    padding-top: 90px;
   justify-content: center;
    
  }
  .colo{
    font-size: smaller;
  }
     
 table,thead,th,td{
  margin: 2px;
 border: 1px solid black;
 }
 .mediA{
  width: 150px;
  height: 150px;
 }
 .main1{
    margin: 0px;
    padding:5rem;
    background-color:Grey;
 }
 
 

